<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FEPOL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#noticias">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target = "_blank" href="https://drive.google.com/file/d/11pjU5YSRKFMGjK5MeTehsDTwWqtQiVGT/view?usp=sharing">Manual de Supervivencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/clubes-asos']">Clubes y Asociaciones</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reglamentos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Reglamento1</a></li>
            <li><a class="dropdown-item" href="#">Reglamento2</a></li>
            <li><a class="dropdown-item" href="#">Reglamento3</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/preguntas-frecuentes']">Preguntas Frecuentes</a>
        </li>
      </ul>
      <app-mailbox class="m-1"></app-mailbox>
      <a class="btn btn-primary btn-floating m-1" target="_blank" role="button"
      href="https://www.facebook.com/FEPOL1960"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-info btn-floating m-1" href="https://twitter.com/fepolespol"
        target="_blank" role="button"><i class="fab fa-twitter text-light"></i></a>
      <a class="btn btn-danger btn-floating m-1"
        href="https://www.instagram.com/fepol_espol/" target="_blank" role="button"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</nav>
