<app-header app-theme></app-header>
<section id="galeria" class="container">

    <div class="text-center py-2">
        <h1>Clubes y Asociaciones</h1>
    </div>

    <div class="row">
        <div class="col-6 col-lg-3" *ngFor = "let info of clubesAsos;index as i">
          <app-loader [loading]="cargando[i]"></app-loader>
          <img class="img-fluid img-thumbnail d-block" (load)="hola(i)" [src]="info.img" [alt]="info.name" [routerLink] = "['/clubes-asos',info.id]">
        </div>
    </div>
</section>
<app-footer></app-footer>
