:root {
  --white: #ffffff;
  --black: #000000e1;
  --bg-white: #f8f9fa;
  --bg-black: #08090a;
  --azul-fepol: linear-gradient(90deg, rgba(0,134,255,1) 0%, rgba(0,138,255,1) 53%, rgba(0,134,255,1) 100%);
}

.light-theme {
  --background-color: var(--white);
  --text-color: var(--black);
  --box-color: var(--white);
  --button-color: var(--white);
  --bg: var(--bg-white);
  --box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
  --content:url("assets/fepol-light.svg");
  --fepol-nav: var(--azul-fepol);
}

.dark-theme {
  --background-color: var(--black);
  --text-color: var(--white);
  --box-color: var(--black);
  --button-color: var(--black);
  --bg: var(--bg-black);
  --box-shadow:: 0 15px 25px rgba(0, 0, 0, .1);
  --content:url("assets/fepol-dark.svg");
  --fepol-nav: var(--bg-white);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a,
.nav-link {
  color: var(--text-color);
  text-decoration: none;
}

.alt-bg {
  background-color: var(--background-color);
}

.navbar-bg {
  background: var(--fepol-nav);
}

.text {
  color: var(--text-color);
}
.alt-text{
  color:var(--bg);
}
a.text {
  color: var(--text-color);
}

.form-control.navbar-bg.text:focus, .form-select.navbar-bg.text:focus {
  background-color: var(--bg);
  color: var(--text-color);
}

.accordion-button {
  background-color: var(--background-color);
  color: var(--text-color);
}


.logo{
  width: 50vw;
  content: var(--content);
}

@media screen and (min-width:795px) {
  .logo{
    width:15vw;
  }

}
