<footer class="text-white text-lg-start" style="background-color: rgb(33, 147,236);">
  <!-- Grid container -->
  <div class="container p-4" style="text-align: center;">
    <p style="text-align: center; font-size: larger;">
      Gremio de Representación Estudiantil de ESPOL
    </p>
    <p>Escuela Superior Politécnica del Litoral - Campus Gustavo Galindo - Guayaquil - Ecuador</p>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0,0.2);">
    FEPOL© 2021 Copyright
  </div>
  <!-- Copyright -->
</footer>
